<% # app/views/users/new.html.erb %>
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <% # pluralize is a text helper that pluralizes the string if it needs to %>
      The form contains <%= pluralize(object.errors.count, 'error') %>.
    </div>
    <ul>
      <% # Each-loop %>
      <% object.errors.full_messages.each do |msg| %>
        <% # prings out the error message %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>